{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'en' %}
<main class="page">
			<section class="account-mainscreen">
				<div class="account-mainscreen__container">
					<div class="info-account">
						<div class="info-account__item">
							<div class="info-account__head">
								<div class="info-account__img-wrap">
									<div class="info-account__img">
										{% if item.photo %}
										<picture><source srcset="/{{item.photo}}" type="image/webp"><img class="img-fluid" src="/{{item.photo}}" alt="" style="width: 100%; /* Adjust size as needed */
    height: 50%; /* Adjust size as needed */
    border-radius: 50%; /* Adjust size as needed */
        "></picture>
										{% else %}
										<picture><source srcset="{% static 'img/account/1.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/account/1.png' %}" alt=""></picture>
										{% endif %}
									</div>
									<button class="info-account__label hhv-blue" type="button" id="changePhoto">Change photo</button>
									    <input type="file" id="photoInput" name="photo" style="display: none;" accept="image/*">
								</div>
								<div class="info-account__head-content">
									<div class="info-account__head-list">
										<div class="info-account__head-list-item">
											<div class="info-account__icon">
												<img class="img-fluid" src="{% static 'img/account/pig.svg' %}" alt="">
											</div>
											<div class="info-account__item-content">
												<div class="label-black">Ref.balance</div>
												<div class="label-blue label-blue_s24">{{item.balance}} $.</div>
											</div>
										</div>
										<div class="info-account__head-list-item">
											<div class="info-account__icon">
												<img class="img-fluid" src="{% static 'img/account/member.svg' %}" alt="">
											</div>
											<div class="info-account__item-content">
												<div class="label-black">Referrals</div>
												<div class="label-blue label-blue_s24">{{ref}}</div>
											</div>
										</div>
									</div>
									{% if item.email %}
									<div class="info-account__head-email">
										<span>Email:</span>
										<a href="mailto:{{item.email}}">{{item.email}}</a>
									</div>
									{% endif %}
								</div>
							</div>
							<div class="text">
								The referral balance earned from inviting users can be used to extend premium access or withdraw to a Qiwi wallet.
							</div>
						</div>
						{% if item.is_premium == False %}
						<div class="info-account__item info-account__item_text">
							<p class="text">
								To remove all restrictions - <a href="{% url 'plans' %}" class="red">purchase full access </a>to all the service's features without limitations.
							</p>
						</div>
						{% endif %}
					</div>
					<div class="settings-account account-mainscreen__item">
						<h4 class="title">Settings</h4>
						<div class="settings-account__content">
							<div class="settings-account__item">
								<div class="label-black">Telegram:
									{% if item.telegram_bio %}
									@{{item.telegram_bio }}
									{% endif %}
								</div>
								{% if item.telegram_id %}
								{{ item.telegram_id }}
								{% else %}
								<a href="https://t.me/Stattron_auth_bot?start=profile_{{item.id}}"><button class="button button_no-bg" type="button">Attach</button></a>
								{% endif %}
							</div>

							<div class="settings-account__item">
								<div class="settings-account__email">
									<span>Email:</span>
									<a href="mailto:{{item.email}}">{{item.email}}</a>
									<a class="label-blue" href="#">[?]</a>
								</div>
							</div>
							<div></div>
							<div></div>
							<div></div>

						</div>
					</div>
					<div class="change-pass account-mainscreen__item">
						<h4 class="title">Change password</h4>
						<form action="#" id="changePasswordForm" class="form form-pass" method="POST">
							{% csrf_token %}
							<div class="search-form__item">
								<label for="current-pass" class="label-black">Enter the current password:</label>
								<input type="password" id="current-pass" name="current-pass" placeholder="Current password" class="form__input">
							</div>
							<div class="search-form__item">
								<label for="new-pass" class="label-black">Enter the new password:</label>
								<input type="password" id="new-pass" name="new-pass" placeholder="Current password" class="form__input">
							</div>
							<div class="search-form__item">
								<label for="new-pass-repeat" class="label-black">Repeat your new password:</label>
								<input type="password" id="new-pass-repeat" name="new-pass-repeat" placeholder="Current password" class="form__input">
							</div>
							<button id="changePasswordButton" class="button" type="button">Change</button>
						</form>
						<div class="message"></div>
					</div>
				</div>
			</section>
			<section class="account-tabs">
				<div class="account-tabs__container">
					<div data-tabs class="channels-tabs tabs-account">
					<div class="tabs-account__head">
							<nav data-tabs-titles class="tabs-navigation tabs-account__navigation">
								<button type="button" class="tabs-navigation__title _tab-active">
									<img class="grey" src="{% static 'img/tabs-account/management_grey.svg' %}" alt="">
									<img class="black" src="{% static 'img/tabs-account/management_black.svg' %}" alt="">
									Referral system
								</button>
								<button type="button" class="tabs-navigation__title">
									<img class="grey" src="{% static 'img/tabs-account/pay_grey.svg' %}" alt="">
									<img class="black" src="{% static 'img/tabs-account/pay_black.svg' %}" alt="">
									Balance payouts
								</button>
								<button type="button" class="tabs-navigation__title">
									<img class="grey" src="{% static 'img/tabs-account/doc_grey.svg' %}" alt="">
									<img class="black" src="{% static 'img/tabs-account/doc_black.svg' %}" alt="">
									History
								</button>
							</nav>
						</div>
						<div data-tabs-body class="tabs-account__content">
							<div class="tabs-account__body">
								<div class="tabs-account__body-hasBg">
									<p class="text">
										Our service offers you the opportunity to earn with us!  <br>
The 									main rules and principles of the referral program are simple:

									</p>
									<ul class="tabs-account__list">
										<li class="tabs-account__item tabs-account__item_ok">
											You will receive 10% of the amount spent by users who registered through your referral links on access extensions.
										</li>
										<li class="tabs-account__item tabs-account__item_ok">
											If you generate a good number of payments, we can increase your percentage. All terms are personalized and discussed through support.
										</li>
										<li class="tabs-account__item tabs-account__item_ok">
											Once a user registers through your link, they will be permanently linked to you – and you will receive your commission from each payment the user makes for extending access to the service.
										</li>
										<li class="tabs-account__item tabs-account__item_warning">
											Spam in any form is prohibited. Violations will result in a complete account ban without payouts.
										</li>
										<li class="tabs-account__item tabs-account__item_warning">
											Registering and paying through your own referral links is prohibited. This will result in a ban on all accounts without payouts.
										</li>
										<li class="tabs-account__item tabs-account__item_warning">
											Advertising the service using branded queries such as Telemetr, Telemetr.me, or Телеметр is prohibited.
										</li>
									</ul>
								</div>
								<div class="account-table">
									<div class="account-table__list account-table__list-noBg">
										<table class="table search-channels__table">
											<thead>
												<tr class="tabs__account-head-column">
													<th scope="col">
														<div class="label-black text-center">Link</div>
													</th>
													<th scope="col">
														<div class="label-black text-center">Number of registrations</div>
													</th>
													<th scope="col">
														<div class="label-black text-center">Number of payments</div>
													</th>
													<th scope="col">
														<div class="label-black text-center">Commission</div>
													</th>
												</tr>
											</thead>
											<tbody>

												{% for item in ref_code %}
												<tr>
													<td>
															<div class="search-form__item">
																<input type="text" id="link-gen" name="link-gen"
																	value="https://stattron.ru/r/{{item.code}}/"
																	class="form__input">
															</div>

													</td>
													<td>
														<div class="label-black">{{ item.count_register}}</div>
													</td>
													<td>
														<div class="label-black">{{ item.count_commission}}</div>
													</td>
													<td>
														{% if item.total_commission_amount is None %}
														<div class="label-black">0</div>

														{% else %}
														<div class="label-black">{{ item.total_commission_amount|floatformat:2  }}</div>

														{% endif %}

													</td>
												</tr>

											{% endfor %}







											</tbody>


										</table>




									</div>
									<div class="account-tabs">
						<form  method="POST" class="link-form">
							{% csrf_token %}
							<div class="account-tabs__container">
								<button class="button" type="submit">Generate another link</button>
							</div>


						</form>
						</div>
								</div>
							</div>

							<div class="tabs-account__body balans-tab">
								<div class="tabs-account__offer-amount">
									<form action="{% url 'withdraw' %}" class="tabs-account__form form">
										<label for="tabs-account__offer-amount-field">
											Enter the amount to order the payout:
										</label>
										<div class="tabs__account-body-box">
											<input type="number" name="money" id="tabs-account__offer-amount-field"  class="form__input no-spinner" min="0">

											<button class="button tabs-account__offer-amount-btn">Order</button>

										</div>
									</form>
								</div>
								<div class="analitics-tabs__table-wrap-container">
									<table class="table search-channels__table">
										<thead>
											<tr class="tabs__account-head-column">
												<th scope="col">
													<div class="label-black">Date and time:</div>
												</th>
												<th scope="col">
													<div class="label-black">Total amount:</div>
												</th>
												<th scope="col">
													<div class="label-black">Wallet:</div>
												</th>
												<th scope="col">
													<div class="label-black">Status:</div>
												</th>
											</tr>
										</thead>
										<tbody>
										{% for item in withdraw %}
											<tr>
												<td scope="row">
													<div class="tabs__account-date-time">
														<span>{{ item.created_at|date:"Y-m-d" }}</span>
														<span>{{ item.created_at|date:"H:i:s" }}</span>
													</div>
												</td>
												<td>
													<div class="label-green label-green_s20">+{{item.amount}}</div>
												</td>
												<td>
													<div class="label-blue label-blue_s20">{{item.wallet}}</div>
												</td>
												{% if item.status  %}
												<td class="text-right">
													<button class="status__button" type="button">Done</button>
												</td>
												{% else %}
												<td class="text-right">
													<button class="status__button status__fail"
														type="button">Cancelled</button>
												</td>
											</tr>
											{% endif %}
										{% endfor %}

										</tbody>
									</table>

								</div>
							</div>
							<div class="tabs-account__body history-tab">
								<div class="analitics-tabs__table-wrap-container">
									<table class="table search-channels__table">
										<thead>
											<tr class="tabs__account-head-column">
												<th scope="col">
													<div class="label-black">Date:</div>
												</th>
												<th scope="col">
													<div class="label-black text-left">Time:</div>
												</th>
												<th scope="col">
													<div class="label-black">Description:</div>
												</th>
												<th scope="col">
													<div class="label-black">Status:</div>
												</th>
											</tr>
										</thead>
										<tbody>

										{% for item in history %}

											<tr>
												<td scope="row">
													<div class="label-black text-left">{{ item.created_at|date:"Y-m-d" }}</div>
												</td>
												<td>
													<div class="label-black text-left">{{ item.created_at|date:"H:i:s" }}</div>
												</td>
												<td>
													<div class="label-black">
													Payment for access to the service for {{item.type_sub}} months</div>
												</td>
												{% if item.status %}
												<td class="text-right">
													<button class="status__button" type="button">Done</button>
												</td>
												{% else %}
												<td class="text-right">
													<button class="status__button status__fail"
														type="button">Cancelled</button>
												</td>
												{% endif %}

											</tr>



											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>





		</main>
{% else %}
<main class="page">
			<section class="account-mainscreen">
				<div class="account-mainscreen__container">
					<div class="info-account">
						<div class="info-account__item">
							<div class="info-account__head">
								<div class="info-account__img-wrap">
									<div class="info-account__img">
										{% if item.photo %}
										<picture><source srcset="/{{item.photo}}" type="image/webp"><img class="img-fluid" src="/{{item.photo}}" alt="" style="width: 100%; /* Adjust size as needed */
    height: 50%; /* Adjust size as needed */
    border-radius: 50%; /* Adjust size as needed */
        "></picture>
										{% else %}
										<picture><source srcset="{% static 'img/account/1.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/account/1.png' %}" alt=""></picture>
										{% endif %}
									</div>
									<button class="info-account__label hhv-blue" type="button" id="changePhoto">Сменить фото</button>
									    <input type="file" id="photoInput" name="photo" style="display: none;" accept="image/*">
								</div>
								<div class="info-account__head-content">
									<div class="info-account__head-list">
										<div class="info-account__head-list-item">
											<div class="info-account__icon">
												<img class="img-fluid" src="{% static 'img/account/pig.svg' %}" alt="">
											</div>
											<div class="info-account__item-content">
												<div class="label-black">Реф. баланс</div>
												<div class="label-blue label-blue_s24">{{item.balance}} $.</div>
											</div>
										</div>
										<div class="info-account__head-list-item">
											<div class="info-account__icon">
												<img class="img-fluid" src="{% static 'img/account/member.svg' %}" alt="">
											</div>
											<div class="info-account__item-content">
												<div class="label-black">Рефералов</div>
												<div class="label-blue label-blue_s24">{{ref}}</div>
											</div>
										</div>
									</div>
									{% if item.email %}
									<div class="info-account__head-email">
										<span>Email:</span>
										<a href="mailto:{{item.email}}">{{item.email}}</a>
									</div>
									{% endif %}
								</div>
							</div>
							<div class="text">
								Реферальный баланс, полученый за привлечение пользователей, вы можете потратить на продление премиум-доступа либо вывести на qiwi-кошелек.
							</div>
						</div>
						{% if item.is_premium == False %}
						<div class="info-account__item info-account__item_text">
							<p class="text">
								Чтобы снять все ограничения - <a href="{% url 'plans' %}" class="red">приобретите полный доступ </a>ко всем возможностями сервиса без ограничений.
							</p>
						</div>
						{% endif %}
					</div>
					<div class="settings-account account-mainscreen__item">
						<h4 class="title">Настройки</h4>
						<div class="settings-account__content">
							<div class="settings-account__item">
								<div class="label-black">Telegram:
									{% if item.telegram_bio %}
									@{{item.telegram_bio }}
									{% endif %}
								</div>
								{% if item.telegram_id %}
								{{ item.telegram_id }}
								{% else %}
								<a href="https://t.me/Stattron_auth_bot?start=profile_{{item.id}}"><button class="button button_no-bg" type="button">Прикрепить</button></a>
								{% endif %}
							</div>

							<div class="settings-account__item">
								<div class="settings-account__email">
									<span>Email:</span>
									<a href="mailto:{{item.email}}">{{item.email}}</a>
									<a class="label-blue" href="#">[?]</a>
								</div>
							</div>
							<div></div>
							<div></div>
							<div></div>

						</div>
					</div>
					<div class="change-pass account-mainscreen__item">
						<h4 class="title">Изменение пароля</h4>
						<form action="#" id="changePasswordForm" class="form form-pass" method="POST">
							{% csrf_token %}
							<div class="search-form__item">
								<label for="current-pass" class="label-black">Введите текущий пароль:</label>
								<input type="password" id="current-pass" name="current-pass" placeholder="Текущий пароль" class="form__input">
							</div>
							<div class="search-form__item">
								<label for="new-pass" class="label-black">Введите новый пароль:</label>
								<input type="password" id="new-pass" name="new-pass" placeholder="Текущий пароль" class="form__input">
							</div>
							<div class="search-form__item">
								<label for="new-pass-repeat" class="label-black">Повторите новый пароль:</label>
								<input type="password" id="new-pass-repeat" name="new-pass-repeat" placeholder="Текущий пароль" class="form__input">
							</div>
							<button id="changePasswordButton" class="button" type="button">Изменить</button>
						</form>
						<div class="message"></div>
					</div>
				</div>
			</section>
			<section class="account-tabs">
				<div class="account-tabs__container">
					<div data-tabs class="channels-tabs tabs-account">
					<div class="tabs-account__head">
							<nav data-tabs-titles class="tabs-navigation tabs-account__navigation">
								<button type="button" class="tabs-navigation__title _tab-active">
									<img class="grey" src="{% static 'img/tabs-account/management_grey.svg' %}" alt="">
									<img class="black" src="{% static 'img/tabs-account/management_black.svg' %}" alt="">
									Реферальная система
								</button>
								<button type="button" class="tabs-navigation__title">
									<img class="grey" src="{% static 'img/tabs-account/pay_grey.svg' %}" alt="">
									<img class="black" src="{% static 'img/tabs-account/pay_black.svg' %}" alt="">
									Выплаты баланса
								</button>
								<button type="button" class="tabs-navigation__title">
									<img class="grey" src="{% static 'img/tabs-account/doc_grey.svg' %}" alt="">
									<img class="black" src="{% static 'img/tabs-account/doc_black.svg' %}" alt="">
									История аккаунта
								</button>
							</nav>
						</div>
						<div data-tabs-body class="tabs-account__content">
							<div class="tabs-account__body">
								<div class="tabs-account__body-hasBg">
									<p class="text">
										Наш сервис предлагает вам зарабатывать вместе с нами! <br> Основные правила и
										принципы реферальной программы просты:
									</p>
									<ul class="tabs-account__list">
										<li class="tabs-account__item tabs-account__item_ok">
											Вы будете получать 10% от суммы трат пользователей, зарегистрировавшихся по
											вашим реферальным ссылкам, на продление доступа.
										</li>
										<li class="tabs-account__item tabs-account__item_ok">
											При условии хорошего количества оплат от вас мы можем увеличить ваш процент.
											Все
											условия индивидуальны и обсуждаются через поддержку.
										</li>
										<li class="tabs-account__item tabs-account__item_ok">
											Как только пользователь регистрируется по вашей ссылке, он будет закреплен
											за
											вами навсегда - и вы будете получать свою комиссию с каждой оплаты
											пользователя
											за продление доступа к сервису.
										</li>
										<li class="tabs-account__item tabs-account__item_warning">
											Запрещен спам в любых его проявлениях. За это - бан всего аккаунта без
											выплат.
										</li>
										<li class="tabs-account__item tabs-account__item_warning">
											Запрещена регистрация и оплата по своим же ссылкам. За это - бан всех
											аккаунтов
											без выплат.
										</li>
										<li class="tabs-account__item tabs-account__item_warning">
											Запрещено рекламировать сервис брендовыми запросами: Telemetr, Telemetr.me,
											Телеметр.
										</li>
									</ul>
								</div>
								<div class="account-table">
									<div class="account-table__list account-table__list-noBg">
										<table class="table search-channels__table">
											<thead>
												<tr class="tabs__account-head-column">
													<th scope="col">
														<div class="label-black text-center">Ссылка</div>
													</th>
													<th scope="col">
														<div class="label-black text-center">Регистраций</div>
													</th>
													<th scope="col">
														<div class="label-black text-center">Оплат</div>
													</th>
													<th scope="col">
														<div class="label-black text-center">Комиссия</div>
													</th>
												</tr>
											</thead>
											<tbody>

												{% for item in ref_code %}
												<tr>
													<td>
															<div class="search-form__item">
																<input type="text" id="link-gen" name="link-gen"
																	value="https://stattron.ru/r/{{item.code}}/"
																	class="form__input">
															</div>

													</td>
													<td>
														<div class="label-black">{{ item.count_register}}</div>
													</td>
													<td>
														<div class="label-black">{{ item.count_commission}}</div>
													</td>
													<td>
														{% if item.total_commission_amount is None %}
														<div class="label-black">0</div>

														{% else %}
														<div class="label-black">{{ item.total_commission_amount|floatformat:2 }}</div>

														{% endif %}

													</td>
												</tr>

											{% endfor %}







											</tbody>


										</table>




									</div>
									<div class="account-tabs">
						<form  method="POST" class="link-form">
							{% csrf_token %}
							<div class="account-tabs__container">
								<button class="button" type="submit">Сгенерировать еще одну ссылку</button>
							</div>


						</form>
						</div>
								</div>
							</div>

							<div class="tabs-account__body balans-tab">
								<div class="tabs-account__offer-amount">
									<form action="{% url 'withdraw' %}" class="tabs-account__form form">
										<label for="tabs-account__offer-amount-field">
											Введите сумму для заказа выплаты:
										</label>
										<div class="tabs__account-body-box">
											<input type="number" name="money" id="tabs-account__offer-amount-field"  class="form__input no-spinner" min="0">

											<button class="button tabs-account__offer-amount-btn">Заказать</button>

										</div>
									</form>
								</div>
								<div class="analitics-tabs__table-wrap-container">
									<table class="table search-channels__table">
										<thead>
											<tr class="tabs__account-head-column">
												<th scope="col">
													<div class="label-black">Дата и время:</div>
												</th>
												<th scope="col">
													<div class="label-black">Сумма:</div>
												</th>
												<th scope="col">
													<div class="label-black">Кошелек:</div>
												</th>
												<th scope="col">
													<div class="label-black">Статус:</div>
												</th>
											</tr>
										</thead>
										<tbody>
										{% for item in withdraw %}
											<tr>
												<td scope="row">
													<div class="tabs__account-date-time">
														<span>{{ item.created_at|date:"Y-m-d" }}</span>
														<span>{{ item.created_at|date:"H:i:s" }}</span>
													</div>
												</td>
												<td>
													<div class="label-green label-green_s20">+{{item.amount}}</div>
												</td>
												<td>
													<div class="label-blue label-blue_s20">{{item.wallet}}</div>
												</td>
												{% if item.status  %}
												<td class="text-right">
													<button class="status__button" type="button">Выполнено</button>
												</td>
												{% else %}
												<td class="text-right">
													<button class="status__button status__fail"
														type="button">Отменено</button>
												</td>
											</tr>
											{% endif %}
										{% endfor %}

										</tbody>
									</table>

								</div>
							</div>
							<div class="tabs-account__body history-tab">
								<div class="analitics-tabs__table-wrap-container">
									<table class="table search-channels__table">
										<thead>
											<tr class="tabs__account-head-column">
												<th scope="col">
													<div class="label-black">Дата:</div>
												</th>
												<th scope="col">
													<div class="label-black text-left">Время:</div>
												</th>
												<th scope="col">
													<div class="label-black">Описание:</div>
												</th>
												<th scope="col">
													<div class="label-black">Статус:</div>
												</th>
											</tr>
										</thead>
										<tbody>

										{% for item in history %}

											<tr>
												<td scope="row">
													<div class="label-black text-left">{{ item.created_at|date:"Y-m-d" }}</div>
												</td>
												<td>
													<div class="label-black text-left">{{ item.created_at|date:"H:i:s" }}</div>
												</td>
												<td>
													<div class="label-black">Оплата доступа к сервису на {{item.type_sub}} месяца</div>
												</td>
												{% if item.status %}
												<td class="text-right">
													<button class="status__button" type="button">Выполнено</button>
												</td>
												{% else %}
												<td class="text-right">
													<button class="status__button status__fail"
														type="button">Отменено</button>
												</td>
												{% endif %}

											</tr>



											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>





		</main>
{% endif %}


<script>
	$(document).ready(function() {
    // Event listener for changing the photo
    $("#changePhoto").click(function() {
        // Trigger the click event of the hidden file input
        $("#photoInput").click();
    });

    // Event listener for when a file is selected
    $("#photoInput").change(function(event) {
        // Get the selected file
        const selectedFile = event.target.files[0];

        // Example: Display the file name
        console.log('Selected file: ' + selectedFile.name);

        // Use FormData for handling file uploads
        var formData = new FormData();
        formData.append('photo', selectedFile);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

        // Perform the file upload logic
        $.ajax({
            url: '{% url 'update' %}',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                if (response.success) {
                    location.reload();
                } else {
                    console.error('Error saving data:', response.error);
                }
            },
            error: function(error) {
                console.error('Ajax request failed:', error);
            }
        });
    });

    // Event listener for updating Qiwi information
    $("#qiwibutton").click(function() {
        var qiwiFormData = new FormData($("#qiwiForm")[0]);

        // Perform the Qiwi information update logic
        $.ajax({
            url: '{% url 'update' %}',  // Replace with your actual endpoint for updating Qiwi
            type: 'POST',
            data: qiwiFormData,
            processData: false,
            contentType: false,
            success: function(response) {
                if (response.success) {
                    location.reload();
                } else {
                    console.error('Error updating Qiwi information:', response.error);
                }
            },
            error: function(error) {
                console.error('Ajax request failed:', error);
            }
        });
    });

    // Event listener for changing the password
    $("#changePasswordButton").click(function() {
        var passwordFormData = $("#changePasswordForm").serialize();

        // Perform the password change logic
        $.ajax({
            url: '{% url 'update_password' %}',  // Replace with your actual endpoint for changing password
            type: 'POST',
            data: passwordFormData,
            success: function(response) {
                if (response.success) {
                $('.message').text('Пароль успешно изменён!').css('color', 'green');


                } else {
                    $('.message').text(response.error).css('color', 'red');

                }
            },
            error: function(error) {

                console.error('Ajax request failed:', error);
            }
        });
    });
});


</script>


{% endblock %}