{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="page">
			<section class="auth-form">
				<div class="auth-form__container">
					<form action="" method="post" class="auth-form__form">
						{% csrf_token %}
						<input type="hidden" name="next" value="{{ request.GET.next }}">
						<h1 class="title title_center">Вход</h1>
						<div class="auth-form__item">
							<input type="text" name="username" placeholder="Логин" class="auth-form__input">
						</div>
						<div class="auth-form__item">
							<input type="password" name="password" placeholder="Пароль" class="auth-form__input">
						</div>
						<div class="error-message"></div>

						<div class="auth-form__form-bottom">
							<button class="button button_sm button_no-bg" type="submit">Войти на сайт</button>
							<div class="auth-form__actions">
								<a href="register.html" class="auth-form__action hhv-blue">Зарегистрироваться</a>
								<a href="#" class="auth-form__action hhv-blue">Забыли пароль?</a>
							</div>
						</div>
					</form>
					<div class="auth-form__bottom">
						<div class="label-white label-white_s16 label-white_fw700">или продолжить с</div>
						<div class="place-ad__btns">
							<button class="button button_sm button_no-bg" type="button">
								<picture><source srcset="img/icons/tg.webp" type="image/webp"><img src="img/icons/tg.png" alt=""></picture>
								Telegram
							</button>
						</div>
					</div>
				</div>
			</section>
		</main>




    <script>
        $(document).ready(function () {
            $('form').submit(function (e) {
                e.preventDefault(); // Prevent the default form submission

                // Serialize the form data
                var formData = $(this).serialize();

                $.ajax({
                    url: '{% url 'login' %}',  // Replace with your API endpoint
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        // Handle successful login response
                        console.log(response);
                        // Redirect to the 'next' URL if present in the response
                        if (response.next) {
                            window.location.href = response.next;
                        }
                        else {
                        window.location.href = '{% url 'main' %}';

                        }
                    },
                    error: function (xhr) {
                        // Handle error
                        console.error(xhr.responseJSON.detail);
                        $('.error-message').text(xhr.responseJSON.detail).css('color', 'red');
                    }
                });
            });
        });
    </script>
{% endblock %}
