{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="page">
			<section class="home-mainscreen">
				<div class="home-mainscreen__container">
					<h2 class="home-mainscreen__title title">ТОП активных телеграмм каналов</h2>
					<ul class="home-mainscreen__list">
						{% for item in item|slice:":6" %}
						<li class="home-mainscreen__item item-mainscreen">
							<div class="item-mainscreen__head">
								<a href="{% url 'detail' item.pk %}" target="_blank" class="item-mainscreen__img">
									<picture><source srcset="/{{item.pictures}}" type="image/webp"><img class="img-fluid" src="/{{item.pictures}}" alt=""></picture>
								</a>
								<div class="item-mainscreen__content">
									<a href="{% url 'detail' item.pk %}" target="_blank" class="item-mainscreen__title title hhv-blue title_w500">{{item.name}}</a>
									<div class="item-mainscreen__label label-grey">{{item.add_chanel.category}}</div>
								</div>
								<div class="item-mainscreen__info">
									<div class="channel-count item-mainscreen__count label-blue label-blue_s20">
										<img src="{% static 'img/icons/users-filling.svg' %}" alt="">
										{{ item.subscribers}}
									</div>
									<div class="channel-count item-mainscreen__count label-blue label-blue_s20">
										<img src="{% static 'img/icons/eye.svg' %}" alt="">
										{{ item.views}}
									</div>
								</div>
							</div>
							<a href="{% url 'detail' item.pk %}" target="_blank" class="item-mainscreen__btn button button_no-bg">Подробнее</a>
						</li>
						{% endfor %}


					</ul>
				</div>
			</section>
			<section class="channels">
				<div class="channels__container container-50p">
					<div class="container-50p__item">
						<div data-tabs class="channels-tabs">
							<div class="tabs-head">
								<h4 class="channels-tabs__title title">Новые подписчики</h4>
								<nav data-tabs-titles class="tabs-navigation">
									<button type="button" class="tabs-navigation__title _tab-active">Сегодня</button>
									<button type="button" class="tabs-navigation__title">Вчера</button>
									<button type="button" class="tabs-navigation__title">За неделю</button>
								</nav>
							</div>
							<div data-tabs-body class="channels-tabs__content">
								<div class="channels-tabs__body">
									{% for item in top_sub %}
									<div class="channel-tabs-channels">
										<a href="{{item.chanel_link }}" target="_blank" class="channel-tabs-channels__img">
											<picture><source srcset="/{{item.pictures}}" type="image/webp"><img class="img-fluid" src="/{{item.pictures}}" alt=""></picture>
										</a>
										<div class="channel-tabs-channels__content">
											<a href="#" class="channel-tabs-channels__title title title_s20">{{item.name}}</a>
											<div class="channel-count label-grey">
												<img src="img/icons/users-filling.svg" alt="">
												{{item.subscribers}}
											</div>
										</div>
										<div class="label-blue">+{{item.daily_subscribers}}</div>
									</div>
									{% endfor %}
									<div class="channel-tabs-channels__btn-wrap">
										<a href="{% url 'search' %}"><button class="channel-tabs-channels__btn button" type="button">Посмотреть все</button></a>
									</div>
								</div>



								<div class="channels-tabs__body">
									{% for item in top_sub %}
									<div class="channel-tabs-channels">
										<a href="{{item.chanel_link }}" target="_blank" class="channel-tabs-channels__img">
											<picture><source srcset="/{{item.pictures}}" type="image/webp"><img class="img-fluid" src="/{{item.pictures}}" alt=""></picture>
										</a>
										<div class="channel-tabs-channels__content">
											<a href="#" class="channel-tabs-channels__title title title_s20">{{item.name}}</a>
											<div class="channel-count label-grey">
												<img src="img/icons/users-filling.svg" alt="">
												{{item.subscribers}}
											</div>
										</div>
										<div class="label-blue">+{{item.yesterday_subscribers}}</div>
									</div>
									{% endfor %}
								</div>
								<div class="channels-tabs__body">
									{% for item in top_sub %}
									<div class="channel-tabs-channels">
										<a href="{{item.chanel_link }}" target="_blank" class="channel-tabs-channels__img">
											<picture><source srcset="/{{item.pictures}}" type="image/webp"><img class="img-fluid" src="/{{item.pictures}}" alt=""></picture>
										</a>
										<div class="channel-tabs-channels__content">
											<a href="#" class="channel-tabs-channels__title title title_s20">{{item.name}}</a>
											<div class="channel-count label-grey">
												<img src="img/icons/users-filling.svg" alt="">
												{{item.subscribers}}
											</div>
										</div>
										<div class="label-blue">+{{item.weekly_subscribers}}</div>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div class="container-50p__item">
						<div data-tabs class="channels-tabs">
							<div class="tabs-head">
								<h4 class="channels-tabs__title title">Просмотры/Подписчики</h4>
								<nav data-tabs-titles class="tabs-navigation">
									<button type="button" class="tabs-navigation__title _tab-active">Сегодня</button>
									<button type="button" class="tabs-navigation__title">Вчера</button>
								</nav>
							</div>
							<div data-tabs-body class="channels-tabs__content">
								<div class="channels-tabs__body">
									{% for item in top_views %}
									<div class="channel-tabs-channels">
										<a href="{{ item.chanel_link}}" target="_blank" class="channel-tabs-channels__img">
											<picture><source srcset="/{{item.pictures}}" type="image/webp"><img class="img-fluid" src="/{{item.pictures}}" alt=""></picture>
										</a>
										<div class="channel-tabs-channels__content">
											<a href="{{ item.chanel_link }}" class="channel-tabs-channels__title title title_s20">{{item.name}}</a>
											<div class="channel-count label-grey">
												<img src="img/icons/users-filling.svg" alt="">
												{{item.views}}
											</div>
										</div>
										{% if item.daily_views < 0 %}
										<div class="label-blue">{{item.daily_views}}</div>
										{% else %}
										<div class="label-blue">+{{item.daily_views}}</div>
										{% endif %}

									</div>
									{% endfor %}

									<div class="channel-tabs-channels__btn-wrap">
										<a href="{% url 'search' %}"><button class="channel-tabs-channels__btn button" type="button">Посмотреть все</button></a>
									</div>
								</div>



								<div class="channels-tabs__body">
									{% for item in top_views %}
									<div class="channel-tabs-channels">
										<a href="{{ item.chanel_link}}" target="_blank" class="channel-tabs-channels__img">
											<picture><source srcset="/{{item.pictures}}" type="image/webp"><img class="img-fluid" src="/{{item.pictures}}" alt=""></picture>
										</a>
										<div class="channel-tabs-channels__content">
											<a href="{{ item.chanel_link }}" class="channel-tabs-channels__title title title_s20">{{item.name}}</a>
											<div class="channel-count label-grey">
												<img src="img/icons/users-filling.svg" alt="">
												{{item.views}}
											</div>
										</div>
										{% if item.yesterday_views < 0 %}
										<div class="label-blue">{{item.yesterday_views}}</div>
										{% else %}
										<div class="label-blue">+{{item.yesterday_views}}</div>
										{% endif %}

									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="charts">
				<div class="charts__container container-50p">
					<div class="container-50p__item">
						<div data-tabs class="charts-tabs">
							<div class="tabs-head">
								<h4 class="channels-tabs__title title">Рекламных записей по дням</h4>
								<nav data-tabs-titles class="tabs-navigation">
									<button type="button" class="tabs-navigation__title _tab-active">1 месяц</button>
									<button type="button" class="tabs-navigation__title">3 месяца</button>
									<button type="button" class="tabs-navigation__title">6 месяцев</button>
								</nav>
							</div>
							<div data-tabs-body class="charts-tabs__content">
								<div class="charts-tabs__body">
									<div class="charts-tabs__chart">
										<canvas id="chart1"></canvas>
									</div>
									<div class="charts-tabs__info">
										<div class="charts-tabs__info-item">
											<div class="label-black">Рекламных постов в базе</div>
											<div class="label-blue label-blue_s24">{{mentioned}}</div>
										</div>
										<div class="charts-tabs__info-item">
											<div class="label-black">Опубликованно сегодня</div>
											 {% if posts_today < 0 %}
											<div class="label-blue label-blue_s24">{{posts_today}}</div>
											{% else %}
											<div class="label-blue label-blue_s24">+{{posts_today}}</div>
											{% endif %}
										</div>
									</div>
								</div>
								<div class="charts-tabs__body">
									<div class="charts-tabs__chart">
										<canvas id="chart2"></canvas>
									</div>
									<div class="charts-tabs__info">
										<div class="charts-tabs__info-item">
											<div class="label-black">Рекламных постов в базе</div>
											<div class="label-blue label-blue_s24">{{mentioned}}</div>
										</div>
										<div class="charts-tabs__info-item">
											<div class="label-black">Опубликованно сегодня</div>
											<div class="label-blue label-blue_s24">+9,414</div>
										</div>
									</div>
								</div>
								<div class="charts-tabs__body">
									<div class="charts-tabs__chart">
										<canvas id="chart3"></canvas>
									</div>
									<div class="charts-tabs__info">
										<div class="charts-tabs__info-item">
											<div class="label-black">Рекламных постов в базе</div>
											<div class="label-blue label-blue_s24">{{mentioned}}</div>
										</div>
										<div class="charts-tabs__info-item">
											<div class="label-black">Опубликованно сегодня</div>
											<div class="label-blue label-blue_s24">+9,414</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container-50p__item">
						<div data-tabs class="charts-tabs">
							<div class="tabs-head">
								<h4 class="channels-tabs__title title">Публикаций по часам, %</h4>
								<nav data-tabs-titles class="tabs-navigation">
									<button type="button" class="tabs-navigation__title _tab-active" style="display: none;">1 месяц</button>
								</nav>
							</div>
							<div data-tabs-body class="charts-tabs__content">
								<div class="charts-tabs__body">
									<div class="charts-tabs__chart">
										<canvas id="chart4"></canvas>
									</div>
									<div class="charts-tabs__info">
										<div class="charts-tabs__info-item charts-tabs__info-item_auto">
											<div class="label-black">Всего публикаций</div>
											<div class="label-blue label-blue_s24">{{total}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

{% endblock %}

