{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="page">
			<section class="home-mainscreen">
				<div class="home-mainscreen__container">
					<h2 class="home-mainscreen__title title">ТОП активных телеграмм каналов</h2>

					<ul class="home-mainscreen__list">
						{% for item in main|slice:":6" %}
						<li class="home-mainscreen__item item-mainscreen">
							<div class="item-mainscreen__head">
								<a href="{% url 'detail' item.pk %}" target="_blank" class="item-mainscreen__img">
									<picture><source srcset="/{{item.pictures}}" type="image/webp"><img class="img-fluid" src="/{{item.pictures}}"  style="border-radius: 50%; " alt=""></picture>
								</a>
								<div class="item-mainscreen__content">
									<a href="{% url 'detail' item.pk %}" target="_blank" class="item-mainscreen__title title hhv-blue title_w500">{{item.name}}</a>
									<div class="item-mainscreen__label label-grey"></div>
								</div>
								<div class="item-mainscreen__info">
									<div class="channel-count item-mainscreen__count label-blue label-blue_s20">
										<img src="{% static 'img/icons/users-filling.svg' %}" alt="">
										{{ item.subscribers}}
									</div>
									<div class="channel-count item-mainscreen__count label-blue label-blue_s20">
										<img src="{% static 'img/icons/eye.svg' %}" alt="">
										{{ item.v }}
									</div>
								</div>
							</div>
							<a href="{% url 'detail' item.pk %}" target="_blank" class="item-mainscreen__btn button button_no-bg">Подробнее</a>
						</li>
						{% endfor %}


					</ul>
				</div>
			</section>
			<section class="channels">
				<div class="channels__container container-50p">
					<div class="container-50p__item">
						<div data-tabs class="channels-tabs">
							<div class="tabs-head">
								<h4 class="channels-tabs__title title">Новые подписчики</h4>
								<nav data-tabs-titles class="tabs-navigation">
									<button type="button" class="tabs-navigation__title _tab-active">Сегодня</button>
									<button type="button" class="tabs-navigation__title">Вчера</button>
									<button type="button" class="tabs-navigation__title">За неделю</button>
								</nav>
							</div>
							<div data-tabs-body class="channels-tabs__content">
								<div class="channels-tabs__body">
									{% for item in top_sub %}
									<div class="channel-tabs-channels">
										<a href="{% url 'detail' item.pk %}" target="_blank" class="channel-tabs-channels__img">
											<picture><source srcset="/{{item.pictures}}" type="image/webp"><img class="img-fluid" src="/{{item.pictures}}" alt=""></picture>
										</a>
										<div class="channel-tabs-channels__content">
											<a href="{% url 'detail' item.pk %}" class="channel-tabs-channels__title title title_s20">{{item.name}}</a>
											<div class="channel-count label-grey">
												<img src="{% static 'img/icons/users-filling.svg' %}" alt="">
												{{item.subscribers}}
											</div>
										</div>
										{% if item.daily_subscribers > 0 %}
										<div class="label-blue">+{{item.daily_subscribers}}</div>
										{% else %}
										<div class="label-blue">{{item.daily_subscribers}}</div>
										{% endif %}

									</div>
									{% endfor %}
									<div class="channel-tabs-channels__btn-wrap">
										<a href="{% url 'search' %}"><button class="channel-tabs-channels__btn button" type="button">Посмотреть все</button></a>
									</div>
								</div>



								<div class="channels-tabs__body">
									{% for item in top_sub %}
									<div class="channel-tabs-channels">
										<a href="{% url 'detail' item.pk %}" target="_blank" class="channel-tabs-channels__img">
											<picture><source srcset="/{{item.pictures}}" type="image/webp"><img class="img-fluid" src="/{{item.pictures}}" alt=""></picture>
										</a>
										<div class="channel-tabs-channels__content">
											<a href="{% url 'detail' item.pk %}" class="channel-tabs-channels__title title title_s20">{{item.name}}</a>
											<div class="channel-count label-grey">
												<img src="{% static 'img/icons/users-filling.svg' %}" alt="">
												{{item.subscribers}}
											</div>
										</div>
										{% if item.yesterday_subscribers > 0 %}
										<div class="label-blue">+{{item.yesterday_subscribers}}</div>
										{% else %}
										<div class="label-blue">{{item.yesterday_subscribers}}</div>
										{% endif %}

									</div>
									{% endfor %}
									<div class="channel-tabs-channels__btn-wrap">
										<a href="{% url 'search' %}"><button class="channel-tabs-channels__btn button" type="button">Посмотреть все</button></a>
									</div>
								</div>
								<div class="channels-tabs__body">
									{% for item in top_sub %}
									<div class="channel-tabs-channels">
										<a href="{% url 'detail' item.pk %}" target="_blank" class="channel-tabs-channels__img">
											<picture><source srcset="/{{item.pictures}}" type="image/webp"><img class="img-fluid" src="/{{item.pictures}}" alt=""></picture>
										</a>
										<div class="channel-tabs-channels__content">
											<a href="{% url 'detail' item.pk %}" class="channel-tabs-channels__title title title_s20">{{item.name}}</a>
											<div class="channel-count label-grey">
												<img src="{% static 'img/icons/users-filling.svg' %}" alt="">
												{{item.subscribers}}
											</div>
										</div>
										{% if item.weekly_subscribers > 0 %}
										<div class="label-blue">+{{item.weekly_subscribers}}</div>
										{% else %}
										<div class="label-blue">{{item.weekly_subscribers}}</div>
										{% endif %}
									</div>

									{% endfor %}
									<div class="channel-tabs-channels__btn-wrap">
										<a href="{% url 'search' %}"><button class="channel-tabs-channels__btn button" type="button">Посмотреть все</button></a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="container-50p__item">
						<div data-tabs class="channels-tabs">
							<div class="tabs-head">
								<h4 class="channels-tabs__title title">Просмотры/Подписчики</h4>
								<nav data-tabs-titles class="tabs-navigation">
									<button type="button" class="tabs-navigation__title _tab-active">Сегодня</button>
									<button type="button" class="tabs-navigation__title">Вчера</button>
								</nav>
							</div>
							<div data-tabs-body class="channels-tabs__content">
								<div class="channels-tabs__body">
									{% for item in top_sub %}
									<div class="channel-tabs-channels">
										<a href="{% url 'detail' item.pk %}" target="_blank" class="channel-tabs-channels__img">
											<picture><source srcset="/{{item.pictures}}" type="image/webp"><img class="img-fluid" src="/{{item.pictures}}" alt=""></picture>
										</a>
										<div class="channel-tabs-channels__content">
											<a href="{% url 'detail' item.pk %}" class="channel-tabs-channels__title title title_s20">{{item.name}}</a>
											<div class="channel-count label-grey">
												<img src="{% static 'img/icons/users-filling.svg' %}" alt="">
												{{item.subscribers}}
											</div>
										</div>
										{% if item.daily_views > 0 %}
										<div class="label-blue">{{item.daily_views}}</div>
										{% else %}
										<div class="label-blue">0</div>
										{% endif %}

									</div>
									{% endfor %}

									<div class="channel-tabs-channels__btn-wrap">
										<a href="{% url 'search' %}"><button class="channel-tabs-channels__btn button" type="button">Посмотреть все</button></a>
									</div>
								</div>



								<div class="channels-tabs__body">
									{% for item in top_sub %}
									<div class="channel-tabs-channels">
										<a href="{% url 'detail' item.pk %}" target="_blank" class="channel-tabs-channels__img">
											<picture><source srcset="/{{item.pictures}}" type="image/webp"><img class="img-fluid" src="/{{item.pictures}}" alt=""></picture>
										</a>
										<div class="channel-tabs-channels__content">
											<a href="{% url 'detail' item.pk %}" class="channel-tabs-channels__title title title_s20">{{item.name}}</a>
											<div class="channel-count label-grey">
												<img src="{% static 'img/icons/users-filling.svg' %}" alt="">
												{{item.subscribers}}
											</div>
										</div>
										{% if item.yesterday_views > 0 %}
										<div class="label-blue">{{item.yesterday_views}}</div>
										{% else %}
										<div class="label-blue">0</div>
										{% endif %}

									</div>
									{% endfor %}
									<div class="channel-tabs-channels__btn-wrap">
										<a href="{% url 'search' %}"><button class="channel-tabs-channels__btn button" type="button">Посмотреть все</button></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="charts">
				<div class="charts__container container-50p">
					<div class="container-50p__item">
						<div data-tabs class="charts-tabs">
							<div class="tabs-head">
								<h4 class="channels-tabs__title title">Рекламных записей по дням</h4>
								<nav data-tabs-titles class="tabs-navigation">
									<button type="button" class="tabs-navigation__title _tab-active">1 месяц</button>
									<button type="button" class="tabs-navigation__title">3 месяца</button>
									<button type="button" class="tabs-navigation__title">6 месяцев</button>
								</nav>
							</div>
							<div data-tabs-body class="charts-tabs__content">
								<div class="charts-tabs__body">
									<div class="charts-tabs__chart">
										<canvas id="chart_1"></canvas>
									</div>
									<div class="charts-tabs__info">
										<div class="charts-tabs__info-item">
											<div class="label-black">Рекламных постов в базе</div>
											<div class="label-blue label-blue_s24">{{mentioned}}</div>
										</div>
										<div class="charts-tabs__info-item">
											<div class="label-black">Опубликованно сегодня</div>
											 {% if posts_today < 0 %}
											<div class="label-blue label-blue_s24">{{posts_today}}</div>
											{% else %}
											<div class="label-blue label-blue_s24">+{{posts_today}}</div>
											{% endif %}
										</div>
									</div>
								</div>
								<div class="charts-tabs__body">
									<div class="charts-tabs__chart">
										<canvas id="chart_2"></canvas>
									</div>
									<div class="charts-tabs__info">
										<div class="charts-tabs__info-item">
											<div class="label-black">Рекламных постов в базе</div>
											<div class="label-blue label-blue_s24">{{mentioned}}</div>
										</div>
										<div class="charts-tabs__info-item">
											<div class="label-black">Опубликованно сегодня</div>
											 {% if posts_today < 0 %}
											<div class="label-blue label-blue_s24">{{posts_today}}</div>
											{% else %}
											<div class="label-blue label-blue_s24">+{{posts_today}}</div>
											{% endif %}
										</div>
									</div>
								</div>
								<div class="charts-tabs__body">
									<div class="charts-tabs__chart">
										<canvas id="chart_3"></canvas>
									</div>
									<div class="charts-tabs__info">
										<div class="charts-tabs__info-item">
											<div class="label-black">Рекламных постов в базе</div>
											<div class="label-blue label-blue_s24">{{mentioned}}</div>
										</div>
										<div class="charts-tabs__info-item">
											<div class="label-black">Опубликованно сегодня</div>
											 {% if posts_today < 0 %}
											<div class="label-blue label-blue_s24">{{posts_today}}</div>
											{% else %}
											<div class="label-blue label-blue_s24">+{{posts_today}}</div>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container-50p__item">
						<div data-tabs class="charts-tabs">
							<div class="tabs-head">
								<h4 class="channels-tabs__title title">Публикаций по часам, %</h4>
								<nav data-tabs-titles class="tabs-navigation">
									<button type="button" class="tabs-navigation__title _tab-active" style="display: none;">1 месяц</button>
								</nav>
							</div>
							<div data-tabs-body class="charts-tabs__content">
								<div class="charts-tabs__body">
									<div class="charts-tabs__chart">
										<canvas id="chart_4"></canvas>
									</div>
									<div class="charts-tabs__info">
										<div class="charts-tabs__info-item charts-tabs__info-item_auto">
											<div class="label-black">Всего публикаций</div>
											<div class="label-blue label-blue_s24">{{total}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
<script>
	$(document).ready(function() {
     if ($("#chart_1").length) {
        var ctx = $("#chart_1")[0].getContext("2d");

        var views = [ // Array of count values
            {% for item in chart_month %}
                {{ item.count }},
            {% endfor %}
        ];

        var labels = [ // Array of created_at__date values
            {% for item in chart_month %}
                "{{ item.created_at__date }}",
            {% endfor %}
        ];

        var chart = new Chart(ctx, {
            type: 'line', // You can change this to 'bar', 'line', 'pie', etc.
            data: {
                labels: labels,
                datasets: [{
                    label: 'Views',
                    data: views,
                    backgroundColor: ["rgba(65, 128, 198, 0.80)"],

                }]
            },
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }


if ($("#chart_2").length) {
        var ctx = $("#chart_2")[0].getContext("2d");

        var views = [ // Array of count values
        {% for item in chart_three_month %}
            {{ item.count }},
        {% endfor %}
    ];

    var labels = [ // Array of created_at__date values
        {% for item in chart_three_month %}
            "{{ item.created_at__date }}",
        {% endfor %}
    ];


        // Assuming you have some dates as labels, you can use them
        // Replace this with your actual date labels


        new Chart(ctx, {
            type: "line",
            data: {
                labels: labels, // Use the labels array for x-axis
                datasets: [{
                    label: "Пост",
                    data: views, // Use the views array for y-axis data
                    fill: true,
                    backgroundColor: ["rgba(65, 128, 198, 0.80)"],
                }]
            },
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }

if ($("#chart_3").length) {
        var ctx = $("#chart_3")[0].getContext("2d");

        var views = [ // Array of count values
        {% for item in chart_six_month %}
            {{ item.count }},
        {% endfor %}
    ];

    var labels = [ // Array of created_at__date values
        {% for item in chart_six_month %}
            "{{ item.created_at__date }}",
        {% endfor %}
    ];


        // Assuming you have some dates as labels, you can use them
        // Replace this with your actual date labels


        new Chart(ctx, {
            type: "line",
            data: {
                labels: labels, // Use the labels array for x-axis
                datasets: [{
                    label: "Пост",
                    data: views, // Use the views array for y-axis data
                    fill: true,
                    backgroundColor: ["rgba(65, 128, 198, 0.80)"],
                }]
            }, options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }
if ($("#chart_4").length) {
        var ctx = $("#chart_4")[0].getContext("2d");


        var views = [ // Array of count values
        {% for item in daily_chart %}
            {{ item.count }},
        {% endfor %}
    ];

    var labels = [ // Array of created_at__date values
        {% for item in daily_chart %}
            "{{ item.hour|date:'H:' }}",
        {% endfor %}
    ];


        // Assuming you have some dates as labels, you can use them
        // Replace this with your actual date labels


        new Chart(ctx, {
            type: "line",
            data: {
                labels: labels, // Use the labels array for x-axis
                datasets: [{
                    label: "Пост",
                    data: views, // Use the views array for y-axis data
                    fill: true,
                    backgroundColor: ["rgba(65, 128, 198, 0.80)"],
                }]
            },
             options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }
});
</script>
{% endblock %}

