{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'en' %}
<main class="page">
			<section class="payment-option">
				<div class="payment-option__container">
					<h2 class="payment__title">
						Select a payment method
					</h2>
					<div class="payment-option-boxes">
						<a href="{{freekassa_url}}" class="payment-option-box">
							<img class="payment-option-image" src="{% static 'img/fk.png' %}" alt="">
						</a>

					</div>
					<div class="payment-option__promobox">
						<h3 class="payment-option__promoTitle">
							If you have a promo code, enter it below!
						</h3>
						<form method="POST" action="" class="payment-option__promoForm">
							{% csrf_token %}
							<input type="text" id="promo" name="promo" placeholder="АА5789А564" class="form__input payment-option__promoInput">
							<button class="button payment-option__promoBtn" type="submit">Activate</button>
						</form>



						<h4 class="payment-option__promoText">
								{% if messages %}

					{% for message in messages %}

							{{ message }}

					{% endfor %}
						{% endif %}
							{% if request.user.profile.promo_code %}
							<br>Вы получаете бонус +{{request.user.profile.promo_code.discount_percentage}}% к пополнению</br>
							{% endif %}
						</h4>

					</div>


				</div>
			</section>
		</main>
{% else %}
<main class="page">
			<section class="payment-option">
				<div class="payment-option__container">
					<h2 class="payment__title">
						Выберите способ оплаты
					</h2>
					<div class="payment-option-boxes">
						<a href="{% url 'yookassa' %}?price={{ request.GET.price }}&order_id={{ request.GET.order_id }}" class="payment-option-box">
							<img class="payment-option-image" src="{% static 'img/payment/iokassa.jpg' %}" alt="">
						</a>
						<a href="{{freekassa_url}}" class="payment-option-box">
							<img class="payment-option-image" src="{% static 'img/fk.png' %}" alt="">
						</a>

					</div>
					<div class="payment-option__promobox">
						<h3 class="payment-option__promoTitle">
							Если у вас есть промо-код, то введите его ниже !
						</h3>
						<form method="POST" action="" class="payment-option__promoForm">
							{% csrf_token %}
							<input type="text" id="promo" name="promo" placeholder="АА5789А564" class="form__input payment-option__promoInput">
							<button class="button payment-option__promoBtn" type="submit">Активировать</button>
						</form>



						<h4 class="payment-option__promoText">
								{% if messages %}

					{% for message in messages %}

							{{ message }}

					{% endfor %}
						{% endif %}
							{% if request.user.profile.promo_code %}
							<br>Вы получаете бонус +{{request.user.profile.promo_code.discount_percentage}}% к пополнению</br>
							{% endif %}
						</h4>

					</div>


				</div>
			</section>
		</main>
{% endif %}
{% endblock %}