{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'en' %}
<main class="page">
			<section class="plans">
				<div class="plans__container">
					<h2 class="payment__title">
						Tariffs for using Stattron
					</h2>
					<div class="plans__boxes">
						<div class="plans__box-blue">
							<div class="plans__box-flex">
								<h3 class="plans__box-title">Premium</h3>
								{% if request.user.profile.is_onedollar %}
								<a href="{% url 'payment' %}?price={{one.price}}&order_id={{one.id}}" class="plans__box-btn">
									<span class="just_price">
										First Month ${{ one.price|floatformat:0 }}
									</span>
									<span class="old_price">
										20$
									</span>
								</a>
								{% endif %}
							</div>
							<div class="plans__box-row">
								<img src="{% static 'img/icons/mingcute_switch-fill.png' %}" alt="" class="plans__box-image">
								<div>
									<p class="plans__box-whiteText">
										Get Detailed Information About Each Channel
									</p>
									<p class="plans__box-grayText">
										Select the most effective channels for advertising placements, subscriber growth, engagement rate (ER), post views, and other metrics.
									</p>
								</div>
							</div>
							<div class="plans__box-row">
								<img src="{% static 'img/icons/ph_pulse-fill.png' %}" alt="" class="plans__box-image">
								<div>
									<p class="plans__box-whiteText">
										Get Detailed Information About Each Channel
									</p>
									<p class="plans__box-grayText">
										Select the most effective channels for advertising placements, subscriber growth, engagement rate (ER), post views, and other metrics.
									</p>
								</div>
							</div>
							<div class="plans__box-row">
								<img src="{% static 'img/icons/solar_chart.png' %}" alt="" class="plans__box-image">
								<div>
									<p class="plans__box-whiteText">
										Get Detailed Information About Each Channel
									</p>
									<p class="plans__box-grayText">
										Select the most effective channels for advertising placements, subscriber growth, engagement rate (ER), post views, and other metrics.
									</p>
								</div>
							</div>

							{% if request.user.profile.is_onedollar %}
							<div class="plans__box-month-plans">
								<div class="small-w">
									<h4 class="plans__box-monthTitle">{{one.name_en}}</h4>
									<p class="plans__box-monthDesc">
										{{one.discout_en}}
									</p>
								</div>
								<a href="{% url 'payment' %}?price=1.00&order_id=2">
								<button class="plans__box-monthBtn">
									Purchase for {{ one.price|floatformat:0 }}$
								</button>
								</a>
							</div>


							{% endif %}
							{% for item in plans %}


							<div class="plans__box-month-plans">
								<div class="small-w">
									<h4 class="plans__box-monthTitle">{{item.name_en}}</h4>
									<p class="plans__box-monthDesc">
										{% if item.discout_en %}
										{{item.discout_en}}
										{% endif %}
										{% if item.discout_minus_en %}
										<span>{{item.discout_minus_en}}</span>
										{% endif %}
									</p>
								</div>
								<a href="{% url 'payment' %}?price={{item.price}}&order_id={{item.id}}">
								<button class="plans__box-monthBtn">
									Purchase for {{ item.price|floatformat:0 }}$
								</button>
								</a>
							</div>
							{% endfor %}
						</div>
						<div class="plans__box-white">
							<h3 class="plans__box-title">Demo</h3>
							<p class="plans__box-normalText">
								Demo subscription is available immediately and without registration!
							</p>
							<p class="plans__box-normalText">
								There is limited functionality in this subscription, so we recommend
								<strong>PREMIUM</strong> subscription
							</p>

						</div>
					</div>
				</div>
			</section>
		</main>

{% else %}
<main class="page">
			<section class="plans">
				<div class="plans__container">
					<h2 class="payment__title">
						Тарифы на использование Stattron
					</h2>
					<div class="plans__boxes">
						<div class="plans__box-blue">
							<div class="plans__box-flex">
								<h3 class="plans__box-title">Premium</h3>
								{% if request.user.profile.is_onedollar %}
								<a href="{% url 'payment' %}?price={{one.price}}&order_id={{one.id}}" class="plans__box-btn">
									<span class="just_price">
										Первый месяц {{ one.price|floatformat:0 }}$
									</span>
									<span class="old_price">
										20$
									</span>
								</a>
								{% endif %}
							</div>
							<div class="plans__box-row">
								<img src="{% static 'img/icons/mingcute_switch-fill.png' %}" alt="" class="plans__box-image">
								<div>
									<p class="plans__box-whiteText">
										Получите подробную информацию о каждом канале
									</p>
									<p class="plans__box-grayText">
										Отберите самые эффективные каналы для
										рекламных размещений, по приросту подписчиков,
										ER, количеству просмотров на пост и другим метрикам
									</p>
								</div>
							</div>
							<div class="plans__box-row">
								<img src="{% static 'img/icons/ph_pulse-fill.png' %}" alt="" class="plans__box-image">
								<div>
									<p class="plans__box-whiteText">
										Получите подробную информацию о каждом канале
									</p>
									<p class="plans__box-grayText">
										Отберите самые эффективные каналы для
										рекламных размещений, по приросту подписчиков,
										ER, количеству просмотров на пост и другим метрикам
									</p>
								</div>
							</div>
							<div class="plans__box-row">
								<img src="{% static 'img/icons/solar_chart.png' %}" alt="" class="plans__box-image">
								<div>
									<p class="plans__box-whiteText">
										Получите подробную информацию о каждом канале
									</p>
									<p class="plans__box-grayText">
										Отберите самые эффективные каналы для
										рекламных размещений, по приросту подписчиков,
										ER, количеству просмотров на пост и другим метрикам
									</p>
								</div>
							</div>
							{% if request.user.profile.is_onedollar %}
							<div class="plans__box-month-plans">
								<div class="small-w">
									<h4 class="plans__box-monthTitle">{{one.name}}</h4>
									<p class="plans__box-monthDesc">
										{{one.discout}}
									</p>
								</div>
								<a href="{% url 'payment' %}?price=1.00&order_id=2">
								<button class="plans__box-monthBtn">
									Подключить за {{ one.price|floatformat:0 }}$
								</button>
								</a>
							</div>


							{% endif %}
							{% for item in plans %}


							<div class="plans__box-month-plans">
								<div class="small-w">
									<h4 class="plans__box-monthTitle">{{item.name}}</h4>
									<p class="plans__box-monthDesc">
										{% if item.discout %}
										{{item.discout}}
										{% endif %}
										{% if item.discout_minus %}
										<span>{{item.discout_minus}}</span>
										{% endif %}
									</p>
								</div>
								<a href="{% url 'payment' %}?price={{item.price}}&order_id={{item.id}}">
								<button class="plans__box-monthBtn">
									Подключить за {{ item.price|floatformat:0 }}$
								</button>
								</a>
							</div>
							{% endfor %}


						</div>
						<div class="plans__box-white">
							<h3 class="plans__box-title">Demo</h3>
							<p class="plans__box-normalText">
								Demo подписка доступна сразу и без регистрации !
							</p>
							<p class="plans__box-normalText">
								В этой подписке ограниченный функционал, поэтому мы рекомендуем вам преобрести
								<strong>PREMIUM</strong> подписку
							</p>

						</div>
					</div>
				</div>
			</section>
		</main>
{% endif %}
{% endblock %}
