{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'en' %}
<main class="page">
			<section class="auth-form">
				<div class="auth-form__container">
					<form action="#" method="post" class="auth-form__form">
						<h1 class="title title_center">Registration</h1>
						<div class="auth-form__item">
							<input type="text" name="username" placeholder="Your username" class="auth-form__input">
						</div>
                        <div class="auth-form__item">
							<input type="text" name="email" placeholder="Your email" class="auth-form__input">
						</div>
						<div class="auth-form__item">
							<input name="phone_number" id="phone"  value="+7" class="auth-form__input">

							</a>
						</div>
						<div class="auth-form__item">
							<input type="password" name="password" placeholder="Password" class="auth-form__input">

							</a>
						</div>

							<div class="error-message"></div>
						<div class="auth-form__form-bottom">
							<button class="button" type="submit">Complete registration</button>
							<div class="auth-form__text">
								Already have an account? <a href="{% url 'login_site' %}" class="hhv-green">Log in</a>
							</div>
						</div>
					</form>
					<div class="auth-form__bottom">
						<div class="label-white label-white_s16 label-white_fw700">or continue with</div>
						<div class="place-ad__btns">
							<a href="https://t.me/Stattron_auth_bot?start=login_123">
							<button class="button button_sm button_no-bg" type="button">
								<picture><source srcset="{% static 'img/icons/tg.webp' %}" type="image/webp"><img src="{% static 'img/icons/tg.png' %}" alt=""></picture>
								Telegram
							</button>
								</a>
						</div>
					</div>
				</div>
			</section>
		</main>
{% else %}
<main class="page">
			<section class="auth-form">
				<div class="auth-form__container">
					<form action="#" method="post" class="auth-form__form">
						<h1 class="title title_center">Регистрация</h1>
						<div class="auth-form__item">
							<input type="text" name="username" placeholder="Ваш username" class="auth-form__input">
						</div>
                        <div class="auth-form__item">
							<input type="text" name="email" placeholder="Ваш email" class="auth-form__input">
						</div>
						<div class="auth-form__item">
							<input name="phone_number" id="phone"  value="+7" class="auth-form__input">

							</a>
						</div>
						<div class="auth-form__item">
							<input type="password" name="password" placeholder="Пароль" class="auth-form__input">

							</a>
						</div>

							<div class="error-message"></div>
						<div class="auth-form__form-bottom">
							<button class="button" type="submit">Завершить регистрацию</button>
							<div class="auth-form__text">
								Уже есть аккаунт? <a href="{% url 'login_site' %}" class="hhv-green">Войти</a>
							</div>
						</div>
					</form>
					<div class="auth-form__bottom">
						<div class="label-white label-white_s16 label-white_fw700">или продолжить с</div>
						<div class="place-ad__btns">
							<a href="https://t.me/Stattron_auth_bot?start=login_123">
							<button class="button button_sm button_no-bg" type="button">
								<picture><source srcset="{% static 'img/icons/tg.webp' %}" type="image/webp"><img src="{% static 'img/icons/tg.png' %}" alt=""></picture>
								Telegram
							</button>
								</a>
						</div>
					</div>
				</div>
			</section>
		</main>
{% endif %}
<script>
 		$(document).ready(function () {
            $('form').submit(function (e) {
                e.preventDefault(); // Prevent the default form submission

                // Serialize the form data
                var formData = $(this).serialize();

                $.ajax({
                    url: '{% url 'register' %}',  // Replace with your API endpoint
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        // Handle successful login response
                        console.log(data);
                        // Redirect to the 'next' URL if present in the response
                        if (data.next) {
                            window.location.href = data.next;
                        }
                        else {
                        window.location.href = '{% url 'login_site' %}';

                        }
                    },
                    error: function (xhr) {
                        // Handle error


                        $('.error-message').text(xhr.responseJSON.email).css('color', 'red');
                        $('.error-message').text(xhr.responseJSON.password).css('color', 'red');
                        $('.error-message').text(xhr.responseJSON.phone_number).css('color', 'red');
                        $('.error-message').text(xhr.responseJSON.username).css('color', 'red');

                    }
                });
            });
        });
    </script>

<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/intlTelInput.min.js?_v=20240118214023"></script>

	<script>
		const inputinputPhone1 = document.querySelector("#phone");
		window.intlTelInput(inputinputPhone1, {
			initialCountry: "ru",
			separateDialCode: false,
			utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/utils.js",
		});
	</script>
{% endblock %}

