{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'en' %}
<header class="header">
			<div class="header__container">
				<div class="header__column">
					<a href="{% url 'main' %}" class="header__logo">
						<picture><source srcset="{% static 'img/main_logo.png' %}" type="image/webp"><img class="img-fluid logo-desc" src="{% static 'img/main_logo.png' %}" alt="" width="40%" height="40%"></picture>
						<picture><source srcset="{% static 'img/main_logo.png' %}" type="image/webp"><img class="img-fluid logo-mob" src="{% static 'img/main_logo.png' %}" alt=""></picture>
					</a>
					<form action="{% url 'search' %}" class="header__search" method="GET">
						<input placeholder="Search..."  name="chanel_name" id="search-input" class="header__input" type="text">
						<button class="header__search-btn" type="submit">
							<img class="img-fluid" src="{% static 'img/icons/search.svg' %}" alt="">
						</button>
						<div id="search-results" class="search-results-container"></div>

					</form>

				</div>

				<div class="header__column header__column_account">
					<div data-da=".header__container,767.98" data-dropdown class="header__dropdown dropdown-header">
						<button data-dropdown-btn class="dropdown-header__btn_wrap" type="button">
							<div class="dropdown-header__btn dropdown-header__btn_desc">
								<span>Services</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</div>
							<div class="dropdown-header__btn dropdown-header__btn_mob icon-menu">
								<span></span>
							</div>
						</button>
						<div class="dropdown-header__list dropdown-header__list_account">

							<a href="{% url 'search' %}" class="dropdown-header__item">
								<span>
									<img src="{% static 'img/header/1.svg' %}" alt="">
									Channel directory
								</span>
							</a>

							<a href="#" class="dropdown-header__item item-type-1">
								<span>
									<img src="{% static 'img/header/2.svg' %}" alt="">
									Channel catalog
								</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</a>

							<ul class="dropdown-header__sublist">
								<li>
									<a class="dropdown-header__sublist-link" href="{% url 'posts_ads' %}">Sponsored posts</a>
								</li>
								<li>
									<a class="dropdown-header__sublist-link" href="{% url 'like' %}">Promotional posts</a>
								</li>
								<li>
									<a class="dropdown-header__sublist-link" href="{% url 'posts' %}">All posts</a>
								</li>
							</ul>

								<a href="{% url 'tracking' %}" class="dropdown-header__item">
								<span>
									<img src="{% static 'img/header/3.svg' %}" alt="">
									Post tracking
								</span>
							</a>


							<a href="{% url 'create' %}" class="dropdown-header__item">
								<span>
									<img src="{% static 'img/header/7.svg' %}" alt="">
									Detailed statistics
								</span>
							</a>


						</div>


					</div>
					{% if not user.profile.is_premium %}
					<div data-da=".header__container,767.98" data-dropdown class="header__dropdown dropdown-header dropdown-header_tablet-dn">
						<button data-dropdown-btn class="dropdown-header__btn_wrap" type="button">
							<div class="dropdown-header__btn dropdown-header__btn_desc">
								<span>Demo access</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</div>
							<div class="dropdown-header__btn dropdown-header__btn_mob icon-menu">
								<span></span>
							</div>
						</button>
						<div class="dropdown-header__list">
							<div class="subscribe-window">
								<h2 class="subscribe-window__title">Free Mode</h2>
								<p class="subscribe-window__text">
									Your functionality is limited!
								</p>
								<p class="subscribe-window__text">
									To improve your account capabilities, purchase a subscription to the service.
								</p>
								<a href="{% url 'plans' %}" class="button subscribe-window__btn">
									Subscribe
								</a>
							</div>
						</div>
					</div>
					{% endif %}

					<div data-da=".header__container,767.98" data-dropdown class="header__dropdown dropdown-header dropdown-header_tablet-dn">
						<button data-dropdown-btn class="dropdown-header__btn_wrap" type="button">
							<div class="dropdown-header__btn dropdown-header__btn_desc">
								<span>Balance</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</div>
							<div class="dropdown-header__btn dropdown-header__btn_mob icon-menu">
								<span></span>
							</div>
						</button>

						<div class="dropdown-header__list dropdown-header__list_account">
							<a href="{% url 'updatecabinet' user.profile.pk %}" class="dropdown-header__item dropdown-header__item_icon-right">
								<span>
									<img src="{% static 'img/header-icons/1.svg' %}" alt="">
									Profile
								</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</a>
							<a href="{% url 'withdraw' %}" class="dropdown-header__item dropdown-header__item_icon-right">
								<span>
									<img src="{% static 'img/header-icons/2.svg' %}" alt="">
									Referral balance: {{user.profile.balance}} $.
								</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</a>




						</div>
					</div>

					<div data-dropdown class="header__dropdown dropdown-header dropdown-header-lang">
						<button data-dropdown-btn class="dropdown-header__btn" type="button">
							{% if request.LANGUAGE_CODE == 'en' %}
							<span>En</span>
							{% else %}
							<span>Ru</span>
							{% endif %}

							<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
						</button>
						<div class="dropdown-header-lang__list dropdown-header__list dropdown-header__list_lang">
							{% if request.LANGUAGE_CODE == 'en' %}
							<a href="/"><li class="language-item">
									Russian
									<i class="chevron-right"></i>
								</li></a>
							{% else %}
							<a href="/en/"><li class="language-item">
									English
									<i class="chevron-right"></i>
								</li></a>
							</ul>
							{% endif %}


						</div>
					</div>
					<div data-da=".header__container,767.98" data-dropdown class="header__dropdown dropdown-header dropdown-header_mobi-dn">
						<button data-dropdown-btn class="dropdown-header__btn_wrap" type="button">
							<div class="dropdown-header__btn dropdown-header__btn_desc">
							{% if user.profile.photo %}
							<picture><source srcset="/{{user.profile.photo}}" type="image/webp"><img class="dropdown-header__avatar" src="/{{user.profile.photo}}" alt="" style="border-radius: 50%; /* Makes the image round */
        width: 40px; /* Adjust size as needed */
        height: 40px"></picture>
							{% else %}
							<picture><source srcset="{% static 'img/account/1.webp' %}" type="image/webp"><img class="dropdown-header__avatar" src="{% static 'img/account/1.png' %}" alt=""></picture>
							{% endif %}
								<img class="dropdown-header__icon arrow" src="{% static 'img/icons/arrow-down.svg' %}" alt="">
							</div>
							<div class="dropdown-header__btn dropdown-header__btn_mob icon-menu">
								<span></span>
							</div>
						</button>
						<div class="dropdown-header__list dropdown-header__list_account">
							<div class="dropdown-header__head">
								<a href="#" class="dropdown-header__head-avatar">
									{% if user.profile.photo %}
									<picture><source srcset="/{{user.profile.photo}}" type="image/webp"><img class="img-fluid" src="/{{user.profile.photo}}" alt=""></picture>
									{% else %}
									<picture><source srcset="{% static 'img/account/1.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/account/1.png' %}" alt=""></picture>
									{% endif %}


								</a>
								<div class="dropdown-header__head-content">
									<div class="dropdown-header__head-email">{{user.email}}</div>
									{% if user.profile.is_premium %}
									<div class="dropdown-header__head-status label-green">Premium Access</div>
									{% else %}
									<div class="dropdown-header__head-status label-red">Demo access</div>
									{% endif %}
									<!-- <div class="dropdown-header__head-status label-green">Премиум-доступ</div> -->
								</div>
							</div>
							<a href="{% url 'updatecabinet' user.profile.pk %}" class="dropdown-header__item dropdown-header__item_icon-right">
								<span>
									<img src="{% static 'img/header-icons/1.svg' %}" alt="">
									Profile
								</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</a>
							<a href="{% url 'withdraw' %}" class="dropdown-header__item dropdown-header__item_icon-right">
								<span>
									<img src="{% static 'img/header-icons/2.svg' %}" alt="">
									Referral balance: {{user.profile.balance}} $.
								</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</a>
							<a href="https://t.me/Kigapii" class="dropdown-header__item dropdown-header__item_icon-right">
								<span>
									<img src="{% static 'img/header-icons/3.svg' %}" alt="">
									Support
								</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</a>
							{% if not user.profile.is_premium %}
							<a href="{% url 'plans' %}" class="dropdown-header__item dropdown-header__item_icon-right">
								<span>
									<img src="{% static 'img/header-icons/4.svg' %}" alt="">
									<span class="color-red">Access renewal</span>
								</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</a>
							{% endif %}
							<div class="dropdown-header__bottom">

								<a href="{% url 'logout' %}"><button class="button" type="button">Log out</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
{% else %}
<header class="header">
			<div class="header__container">
				<div class="header__column">
					<a href="{% url 'main' %}" class="header__logo">
						<picture><source srcset="{% static 'img/main_logo.png' %}" type="image/webp"><img class="img-fluid logo-desc" src="{% static 'img/main_logo.png' %}" alt="" width="40%" height="40%"></picture>
						<picture><source srcset="{% static 'img/main_logo.png' %}" type="image/webp"><img class="img-fluid logo-mob" src="{% static 'img/main_logo.png' %}" alt=""></picture>
					</a>
					<form action="{% url 'search' %}" class="header__search" method="GET">
						<input placeholder="Поиск..."  name="chanel_name" id="search-input" class="header__input" type="text">
						<button class="header__search-btn" type="submit">
							<img class="img-fluid" src="{% static 'img/icons/search.svg' %}" alt="">
						</button>
						<div id="search-results" class="search-results-container"></div>

					</form>

				</div>

				<div class="header__column header__column_account">
					<div data-da=".header__container,767.98" data-dropdown class="header__dropdown dropdown-header">
						<button data-dropdown-btn class="dropdown-header__btn_wrap" type="button">
							<div class="dropdown-header__btn dropdown-header__btn_desc">
								<span>Сервисы</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</div>
							<div class="dropdown-header__btn dropdown-header__btn_mob icon-menu">
								<span></span>
							</div>
						</button>
						<div class="dropdown-header__list dropdown-header__list_account">

							<a href="{% url 'search' %}" class="dropdown-header__item">
								<span>
									<img src="{% static 'img/header/1.svg' %}" alt="">
									Каталог каналов
								</span>
							</a>

							<a href="#" class="dropdown-header__item item-type-1">
								<span>
									<img src="{% static 'img/header/2.svg' %}" alt="">
									Поиск постов
								</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</a>

							<ul class="dropdown-header__sublist">
								<li>
									<a class="dropdown-header__sublist-link" href="{% url 'posts_ads' %}">Рекламные посты</a>
								</li>
								<li>
									<a class="dropdown-header__sublist-link" href="{% url 'like' %}">Посты в закладках</a>
								</li>
								<li>
									<a class="dropdown-header__sublist-link" href="{% url 'posts' %}">Все посты</a>
								</li>
							</ul>

								<a href="{% url 'tracking' %}" class="dropdown-header__item">
								<span>
									<img src="{% static 'img/header/3.svg' %}" alt="">
									Отслеживание постов
								</span>
							</a>


							<a href="{% url 'create' %}" class="dropdown-header__item">
								<span>
									<img src="{% static 'img/header/7.svg' %}" alt="">
									Детальная статистика
								</span>
							</a>


						</div>


					</div>
					{% if not user.profile.is_premium %}
					<div data-da=".header__container,767.98" data-dropdown class="header__dropdown dropdown-header dropdown-header_tablet-dn">
						<button data-dropdown-btn class="dropdown-header__btn_wrap" type="button">
							<div class="dropdown-header__btn dropdown-header__btn_desc">
								<span>Демо-доступ</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</div>
							<div class="dropdown-header__btn dropdown-header__btn_mob icon-menu">
								<span></span>
							</div>
						</button>
						<div class="dropdown-header__list">
							<div class="subscribe-window">
								<h2 class="subscribe-window__title">Бесплатный режим</h2>
								<p class="subscribe-window__text">
									У вас ограничен функционал !
								</p>
								<p class="subscribe-window__text">
									Для улучшения возможностей аккаунта,
									приобретите подписку на сервис.
								</p>
								<a href="{% url 'plans' %}" class="button subscribe-window__btn">
									Оформить подписку
								</a>
							</div>
						</div>
					</div>
					{% endif %}

					<div data-da=".header__container,767.98" data-dropdown class="header__dropdown dropdown-header dropdown-header_tablet-dn">
						<button data-dropdown-btn class="dropdown-header__btn_wrap" type="button">
							<div class="dropdown-header__btn dropdown-header__btn_desc">
								<span>Баланс</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</div>
							<div class="dropdown-header__btn dropdown-header__btn_mob icon-menu">
								<span></span>
							</div>
						</button>

						<div class="dropdown-header__list dropdown-header__list_account">
							<a href="{% url 'updatecabinet' user.profile.pk %}" class="dropdown-header__item dropdown-header__item_icon-right">
								<span>
									<img src="{% static 'img/header-icons/1.svg' %}" alt="">
									Профиль
								</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</a>
							<a href="{% url 'withdraw' %}" class="dropdown-header__item dropdown-header__item_icon-right">
								<span>
									<img src="{% static 'img/header-icons/2.svg' %}" alt="">
									Реф.баланс: {{user.profile.balance_rubl}} ₽.
								</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</a>




						</div>
					</div>

					<div data-dropdown class="header__dropdown dropdown-header dropdown-header-lang">
						<button data-dropdown-btn class="dropdown-header__btn" type="button">
							{% if request.LANGUAGE_CODE == 'en' %}
							<span>En</span>
							{% else %}
							<span>Ru</span>
							{% endif %}

							<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
						</button>
						<div class="dropdown-header-lang__list dropdown-header__list dropdown-header__list_lang">
							{% if request.LANGUAGE_CODE == 'en' %}
							<a href="/"><li class="language-item">
									Русский
									<i class="chevron-right"></i>
								</li></a>
							{% else %}
							<a href="/en/"><li class="language-item">
									English
									<i class="chevron-right"></i>
								</li></a>
							</ul>
							{% endif %}


						</div>
					</div>
					<div data-da=".header__container,767.98" data-dropdown class="header__dropdown dropdown-header dropdown-header_mobi-dn">
						<button data-dropdown-btn class="dropdown-header__btn_wrap" type="button">
							<div class="dropdown-header__btn dropdown-header__btn_desc">
							{% if user.profile.photo %}
							<picture><source srcset="/{{user.profile.photo}}" type="image/webp"><img class="dropdown-header__avatar" src="/{{user.profile.photo}}" alt="" style="border-radius: 50%; /* Makes the image round */
        width: 40px; /* Adjust size as needed */
        height: 40px"></picture>
							{% else %}
							<picture><source srcset="{% static 'img/account/1.webp' %}" type="image/webp"><img class="dropdown-header__avatar" src="{% static 'img/account/1.png' %}" alt=""></picture>
							{% endif %}
								<img class="dropdown-header__icon arrow" src="{% static 'img/icons/arrow-down.svg' %}" alt="">
							</div>
							<div class="dropdown-header__btn dropdown-header__btn_mob icon-menu">
								<span></span>
							</div>
						</button>
						<div class="dropdown-header__list dropdown-header__list_account">
							<div class="dropdown-header__head">
								<a href="#" class="dropdown-header__head-avatar">
									{% if user.profile.photo %}
									<picture><source srcset="/{{user.profile.photo}}" type="image/webp"><img class="img-fluid" src="/{{user.profile.photo}}" alt=""></picture>
									{% else %}
									<picture><source srcset="{% static 'img/account/1.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/account/1.png' %}" alt=""></picture>
									{% endif %}


								</a>
								<div class="dropdown-header__head-content">
									<div class="dropdown-header__head-email">{{user.email}}</div>
									{% if user.profile.is_premium %}
									<div class="dropdown-header__head-status label-green">Премиум-доступ</div>
									{% else %}
									<div class="dropdown-header__head-status label-red">Демо-доступ</div>
									{% endif %}
									<!-- <div class="dropdown-header__head-status label-green">Премиум-доступ</div> -->
								</div>
							</div>
							<a href="{% url 'updatecabinet' user.profile.pk %}" class="dropdown-header__item dropdown-header__item_icon-right">
								<span>
									<img src="{% static 'img/header-icons/1.svg' %}" alt="">
									Профиль
								</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</a>
							<a href="{% url 'withdraw' %}" class="dropdown-header__item dropdown-header__item_icon-right">
								<span>
									<img src="{% static 'img/header-icons/2.svg' %}" alt="">
									Реф.баланс: {{user.profile.balance_rubl}} ₽.
								</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</a>
							<a href="https://t.me/Kigapii" class="dropdown-header__item dropdown-header__item_icon-right">
								<span>
									<img src="{% static 'img/header-icons/3.svg' %}" alt="">
									Поддержка
								</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</a>
							{% if not user.profile.is_premium %}
							<a href="{% url 'plans' %}" class="dropdown-header__item dropdown-header__item_icon-right">
								<span>
									<img src="{% static 'img/header-icons/4.svg' %}" alt="">
									<span class="color-red">Продление доступа</span>
								</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</a>
							{% endif %}
							<div class="dropdown-header__bottom">

								<a href="{% url 'logout' %}"><button class="button" type="button">Выйти</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
{% endif %}
