{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'en' %}
<header class="header">
			<div class="header__container">
				<div class="header__column">
					<a href="{% url 'main' %}" class="header__logo">
						<picture><source srcset="{% static 'img/main_logo.png' %}" type="image/webp"><img class="img-fluid logo-desc" src="{% static 'img/main_logo.png' %}" alt="" width="40%" height="40%"></picture>
						<picture><source srcset="{% static 'img/main_logo.png' %}" type="image/webp"><img class="img-fluid logo-mob" src="{% static 'img/main_logo.png' %}" alt=""></picture>
					</a>
					<form action="{% url 'search' %}" class="header__search" method="GET">
						<input placeholder="Search..."  name="chanel_name" id="search-input" class="header__input" type="text">
						<button class="header__search-btn" type="submit">
							<img class="img-fluid" src="{% static 'img/icons/search.svg' %}" alt="">
						</button>
						<div id="search-results" class="search-results-container"></div>



					</form>


				</div>

				<div class="header__column header__column_account">
					<div data-da=".header__container,767.98" data-dropdown class="header__dropdown dropdown-header">
						<button data-dropdown-btn class="dropdown-header__btn_wrap" type="button">
							<div class="dropdown-header__btn dropdown-header__btn_desc">
								<span>Services</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</div>
							<div class="dropdown-header__btn dropdown-header__btn_mob icon-menu">
								<span></span>
							</div>
						</button>
						<div class="dropdown-header__list dropdown-header__list_account">

							<a href="{% url 'search' %}" class="dropdown-header__item">
								<span>
									<img src="{% static 'img/header/1.svg' %}" alt="">
									Channel directory
								</span>
							</a>

							<a href="#" class="dropdown-header__item item-type-1">
								<span>
									<img src="{% static 'img/header/2.svg' %}" alt="">
									Channel catalog
								</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</a>

							<ul class="dropdown-header__sublist">
								<li>
									<a class="dropdown-header__sublist-link" href="{% url 'posts_ads' %}">Sponsored posts</a>
								</li>
								<li>
									<a class="dropdown-header__sublist-link" href="{% url 'like' %}">Promotional posts</a>
								</li>
								<li>
									<a class="dropdown-header__sublist-link" href="{% url 'posts' %}">All posts</a>
								</li>
							</ul>

								<a href="{% url 'tracking' %}" class="dropdown-header__item">
								<span>
									<img src="{% static 'img/header/3.svg' %}" alt="">
									Post tracking
								</span>
							</a>


							<a href="{% url 'create' %}" class="dropdown-header__item">
								<span>
									<img src="{% static 'img/header/7.svg' %}" alt="">
									Detailed statistics
								</span>
							</a>


						</div>

					</div>
					<div class="header__btns">
						<a href="{% url 'register_site' %}" class="header__btn button">Signup</a>
						<a data-da=".dropdown-header__item span,767.98" href="{% url 'login_site' %}" class="header__btn_no-bg">
							Login
							<img src="{% static 'img/icons/login.svg' %}" alt="">
						</a>
					</div>
					<div data-dropdown class="header__dropdown dropdown-header dropdown-header-lang">
						<button data-dropdown-btn class="dropdown-header__btn" type="button">
							{% if request.LANGUAGE_CODE == 'en' %}
							<span>En</span>
							{% else %}
							<span>Ru</span>
							{% endif %}

							<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
						</button>
						<div class="dropdown-header-lang__list dropdown-header__list dropdown-header__list_lang">
							{% if request.LANGUAGE_CODE == 'en' %}
							<a href="/" class="dropdown-header-lang__item">Ru</a>
							{% else %}
							<a href="/en/" class="dropdown-header-lang__item">En</a>
							{% endif %}

						</div>
					</div>
				</div>
			</div>

		</header>
{% else %}
<header class="header">
			<div class="header__container">
				<div class="header__column">
					<a href="{% url 'main' %}" class="header__logo">
						<picture><source srcset="{% static 'img/main_logo.png' %}" type="image/webp"><img class="img-fluid logo-desc" src="{% static 'img/main_logo.png' %}" alt="" width="40%" height="40%"></picture>
						<picture><source srcset="{% static 'img/main_logo.png' %}" type="image/webp"><img class="img-fluid logo-mob" src="{% static 'img/main_logo.png' %}" alt=""></picture>
					</a>
					<form action="{% url 'search' %}" class="header__search" method="GET">
						<input placeholder="Поиск..."  name="chanel_name" id="search-input" class="header__input" type="text">
						<button class="header__search-btn" type="submit">
							<img class="img-fluid" src="{% static 'img/icons/search.svg' %}" alt="">
						</button>
						<div id="search-results" class="search-results-container"></div>



					</form>


				</div>

				<div class="header__column header__column_account">
					<div data-da=".header__container,767.98" data-dropdown class="header__dropdown dropdown-header">
						<button data-dropdown-btn class="dropdown-header__btn_wrap" type="button">
							<div class="dropdown-header__btn dropdown-header__btn_desc">
								<span>Сервисы</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</div>
							<div class="dropdown-header__btn dropdown-header__btn_mob icon-menu">
								<span></span>
							</div>
						</button>
						<div class="dropdown-header__list dropdown-header__list_account">

							<a href="{% url 'search' %}" class="dropdown-header__item">
								<span>
									<img src="{% static 'img/header/1.svg' %}" alt="">
									Каталог каналов
								</span>
							</a>

							<a href="#" class="dropdown-header__item item-type-1">
								<span>
									<img src="{% static 'img/header/2.svg' %}" alt="">
									Поиск постов
								</span>
								<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
							</a>

							<ul class="dropdown-header__sublist">
								<li>
									<a class="dropdown-header__sublist-link" href="{% url 'posts_ads' %}">Рекламные посты</a>
								</li>
								<li>
									<a class="dropdown-header__sublist-link" href="{% url 'like' %}">Посты в закладках</a>
								</li>
								<li>
									<a class="dropdown-header__sublist-link" href="{% url 'posts' %}">Все посты</a>
								</li>
							</ul>

								<a href="{% url 'tracking' %}" class="dropdown-header__item">
								<span>
									<img src="{% static 'img/header/3.svg' %}" alt="">
									Отслеживание постов
								</span>
							</a>


							<a href="{% url 'create' %}" class="dropdown-header__item">
								<span>
									<img src="{% static 'img/header/7.svg' %}" alt="">
									Детальная статистика
								</span>
							</a>


						</div>

					</div>
					<div class="header__btns">
						<a href="{% url 'register_site' %}" class="header__btn button">Регистрация</a>
						<a data-da=".dropdown-header__item span,767.98" href="{% url 'login_site' %}" class="header__btn_no-bg">
							Войти
							<img src="{% static 'img/icons/login.svg' %}" alt="">
						</a>
					</div>
					<div data-dropdown class="header__dropdown dropdown-header dropdown-header-lang">
						<button data-dropdown-btn class="dropdown-header__btn" type="button">
							{% if request.LANGUAGE_CODE == 'en' %}
							<span>En</span>
							{% else %}
							<span>Ru</span>
							{% endif %}

							<img src="{% static 'img/icons/arrow-down.svg' %}" class="arrow" alt="">
						</button>
						<div class="dropdown-header-lang__list dropdown-header__list dropdown-header__list_lang">
							{% if request.LANGUAGE_CODE == 'en' %}
							<a href="/" class="dropdown-header-lang__item">Ru</a>
							{% else %}
							<a href="/en/" class="dropdown-header-lang__item">En</a>
							{% endif %}

						</div>
					</div>
				</div>
			</div>

		</header>
{% endif %}


